<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../layouts/header :: html_head"/>
<style>
    .form-container {
        width: 300px;
        margin: 0 auto;
        text-align: left;
    }

    .form-label {
        text-align: left;
    }

    .form-input {
        text-align: left;
        width: 100%;
        margin-bottom: 10px;
    }

    .form-button {
        text-align: right;
    }

</style>
<body>
<div th:replace="../layouts/header :: html_nav"/>

<section class="container">

    <h1>Danh sách sinh viên</h1>
    <label for="activeFilter">Chọn tình trạng:</label>
    <select id="activeFilter" onchange="filterActive()">
        <option value="all">Tất cả</option>
        <option value="active">Sinh viên còn hoạt động</option>
        <option value="inactive">Sinh viên không hoạt động</option>
    </select>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Mã số sinh viên</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Email</th>
            <th scope="col">Ngày tham gia</th>
            <th scope="col">Active</th>
            <th scope="col">Công cụ</th>


        </tr>
        </thead>
        <tbody th:each="user : ${userList}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.mssv}"></td>
            <td th:text="${user.name}"></td>q
            <td th:text="${user.email}"></td>
            <td th:text="${user.ngayThamGia}"></td>
            <td th:text="${user.active}"></td>
            <td>
                <button class="btn btn-warning" th:if="${user.active == false}" disabled>Vô hiệu hóa sinh viên</button>
                <button class="btn btn-warning" th:if="${user.active == true}" th:attr="onclick='disableUser(\'' + ${user.id} + '\')'">Vô hiệu hóa sinh viên</button>
            </td>


        </tr>

        </tbody>
    </table>
    <button type="button" class="form-button2 btn btn-primary " id="pdfButton" onclick="generatePdf()">Dowload PDF Sinh Viên</button>

    <h2 class="form-button2"> Thêm sinh viên</h2>
    <form id="addUserForm">
        <label for="mssv" class="form-label">MSSV:</label>
        <input type="text" id="mssv" name="mssv" class="form-input" required>

        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" class="form-input" required>

        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" class="form-input" required>

        <label for="username" class="form-label">Username:</label>
        <input type="text" id="username" name="username" class="form-input" required>

        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" class="form-input" required>

        <label for="retypePassword" class="form-label">Retype Password:</label>
        <input type="password" id="retypePassword" name="retypePassword" class="form-input" required>

        <button type="submit" class="form-button">Thêm người dùng</button>




    </form>
</section>
<footer th:replace="../layouts/footer :: html_footer"/>
<script>
    function disableUser(userId) {
        fetch(`/admin/nguoidung/disable-user/${userId}`, {
            method: 'PUT',
            headers: {
            'Authorization': `Bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VySWQiOjMsInVzZXJuYW1lIjoidXNlcjMiLCJzdWIiOiJ1c2VyMyIsImV4cCI6MTY5OTQ5MDk0OH0.XmXda0N-Xrj_jxTChtZ_KO4FLya614m4R45p7HGlo9g`
        }
        })
        .then(response => {

            if (response.ok) {
                location.reload();
                alert('Người dùng đã được vô hiệu hóa.');
                // Cập nhật giao diện người dùng hoặc tải lại trang (tùy theo cần thiết)
            } else {
                alert('Có lỗi xảy ra khi vô hiệu hóa người dùng.');
            }
        })
        .catch(error => {
            console.error('Lỗi:', error);
            alert('Có lỗi xảy ra khi kết nối đến máy chủ.');
        });
    }

    document.getElementById("addUserForm").addEventListener("submit", function (event) {
    event.preventDefault();

    const form = document.getElementById("addUserForm");
    const username = form.elements.username.value;
    const password = form.elements.password.value;
    const retypePassword = form.elements.retypePassword.value;
    const email = form.elements.email.value;
    const mssv = form.elements.mssv.value;
    const name = form.elements.name.value;

    // Kiểm tra mật khẩu và xác nhận mật khẩu khớp nhau
    if (password !== retypePassword) {
        alert('Mật khẩu và xác nhận mật khẩu không khớp.');
        return;
    }

    const data = {
        username: username,
        password: password,
        email: email,
        mssv: mssv,
        retypePassword: retypePassword,
        name: name
    };
    fetch("/api/v1/users/register", {
        method: 'POST',
        headers: {
         'Content-Type': 'application/json',
            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VySWQiOjMsInVzZXJuYW1lIjoidXNlcjMiLCJzdWIiOiJ1c2VyMyIsImV4cCI6MTY5OTgwMjIyMn0.D4iNxs8HlExBbtXi5mxVS7NKQfemwI-ehLG-nzuX30k'
        },
        body: JSON.stringify(data)
    })
        .then(response => {
            console.log(response);
            if (response.ok) {
                alert('Người dùng đã được thêm thành công.');
                form.reset();
                // Cập nhật giao diện người dùng hoặc tải lại trang (tùy theo cần thiết)
            } else {
                alert('Người dùng đã tồn tại');
            }
        })
        .catch(error => {
            console.error('Lỗi:', error);
            alert('Có lỗi xảy ra khi kết nối đến máy chủ.');
        });
});
    function generatePdf() {
        fetch('/api/v1/pdf/nguoidung', {
            method: 'GET',
        })
        .then(response => {
            if (response.ok) {
                return response.blob();
            } else {
                alert('Có lỗi xảy ra khi tạo tệp PDF.');
            }
        })
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = 'nguoidung.pdf';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
        })
        .catch(error => {
            console.error('Lỗi:', error);
            alert('Có lỗi xảy ra khi kết nối đến máy chủ.');
        });
    }
      function filterActive() {
        var activeFilter = document.getElementById("activeFilter").value;
        var rows = document.querySelectorAll("tbody tr");

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            var isActive = row.querySelector("td:nth-child(6)").textContent === "true";

            if (activeFilter === "all" || (activeFilter === "active" && isActive) || (activeFilter === "inactive" && !isActive)) {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        }
    }
</script>
</body>

</html>