<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../layouts/header :: html_head"/>
<body>
<div th:replace="../layouts/header :: html_nav"/>

<section class="container">
  <h1>Hello admin</h1>

  <h2>Gửi thông báo</h2>
  <form id="notificationForm">
    <label for="notificationTitle">Tên thông báo</label>
    <input type="text" id="notificationTitle" name="title" class="form-control" required>

    <label for="notificationContent">Nội dung thông báo</label>
    <textarea id="notificationContent" name="content" class="form-control" required></textarea>

    <button type="submit" class="btn btn-primary">Gửi</button>
  </form>
</section>

<footer th:replace="../layouts/footer :: html_footer"/>

<script>
  document.getElementById("notificationForm").addEventListener("submit", function (event) {
      event.preventDefault();

      const form = document.getElementById("notificationForm");
      const title = form.elements.title.value;
      const content = form.elements.content.value;

      const data = {
          title: title,
          content: content
      };

      fetch("http://localhost:8081/api/v1/thongbao", {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',

          },
          body: JSON.stringify(data)
      })
      .then(response => {
          if (response.ok) {
              alert('Notification created successfully.');
              form.reset();
          } else {
              alert('Failed to create the notification.');
          }
      })
      .catch(error => {
          console.error('Error:', error);
          alert('Failed to connect to the server.');
      });
  });
</script>
</body>
</html>
